.navBar {
    background-color: #21081a;
}
.navbar-brand{
    margin-left: 50px;
    color:white;
}
.nav-link{
     margin: 20px;
     color:white;
}
.heroBanner {
   margin: 5px 5px 20px 5px;
   position:relative;
}

h1 {
    /* position: relative;  
    margin-top: auto;
    margin-bottom: 2rem;    */
    color:white;
    text-shadow: rgba(0,0,0,.2);
}


.color-overlay{
    display: flex;
    flex-direction: column;
    align-items: start;
    flex-wrap: nowrap;
    align-items: center;
    width:20vh;
    height:20vh;
    background-color: rgba(0,0,0,.2);
}

.color-overlay p{
    color:white;
    font-size: large;

}
.card{
    height: 100px;
}
.card-img-top{
    height:50vh;
}
.card-body{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}
.container{
    margin-top: 20px;
}
.aboutme{

   margin-top: 20px;
   margin-bottom: 20px;
}



.carousel-item{
    height: 30vh;
    /* margin-top: 20px; */

}
h5{
    font-weight: 4rem;
}
.carousel-item p{
    font-weight: bold;
    text-shadow: 20px;

}
.container{
    margin-top: 20px;
}